<section class="competitions">
    @@include("../modal.html")
    <div class="wrapper">
        <div class="competitions__content">
            <h2 class="competitions__title">Соревнуемся против друг друга!</h2>
            <div class="competitions__example-box">
                <div class="competitions__example">
                    <p class="competitions__value"></p> 
                </div>
                <button class="competitions__button-next">Следующее задание!</button>
            </div>
            <div class="competitions__kids">

            </div>
        </div>
    </div>

</section>