.footer {
    width: 100%;
    background-color: $blue;
    margin-top: 80px;
    padding: 45px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 100px;
    border-right: 1px solid rgba(255, 255, 255, 0.386);
}

.footer__nav-title {
    color: white;
    font-weight: 600;
    @include adaptive-font(17, 21);
    letter-spacing: 2px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav-link {
    color: white;
    @include adaptive-font(15, 18);
    font-weight: 400;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: white;
        transform-origin: left;
        transform: scale(0);
        transition: transform 0.3s;
    }

    &:hover {
        &::before {
            transform: scale(1);
        }
    }
}

.footer__logo {
    width: 100px;
    height: 100px;
}

.footer__contacts {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
    border-left: 1px solid rgba(255, 255, 255, 0.386);
}

.footer__contacts-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__contacts-icon {
    width: 48px;
    height: 48px;
    transition: 0.3s;

    &:hover {
        transform: rotate(17deg);
    }
}

.footer__logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__logo-copy {
    @include adaptive-font(15, 18);
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 1228px) {
    .footer__nav {
        padding-right: 50px;
    }

    .footer__contacts {
        padding-left: 50px;
    }
}

@media screen and (max-width: 1017px) {
    .footer__content {
        gap: 20px;
    }
}

@media screen and (max-width: 846px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__nav {
        width: 100%;
        align-items: center;
        padding-right: 0;
        border-right: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.386);
    }

    .footer__nav-list {
        align-items: center;
    }

    .footer__logo-box {
        order: 3;
    }

    .footer__contacts {
        order: 2;
        padding-left: 0;
        border-left: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.386);
        align-items: center;
    }

    .footer {
        margin-top: 20px;
        padding: 20px 0;
    }
}