<section class="kids">
    <div class="kids__title-box">
        <h2 class="kids__title">Участники гонки</h2>
        <p class="kids__paragraph">
            Добавьте в игру участников гонки (ВЫ можете отредактировать список детей, добавить или удалить ребёнка из списка)
        </p>
    </div>
    <form class="kids__form">
        <input placeholder="Фамилия и имя" class="kids__input" type="text">
        <button class="kids__button">Добавить участника!</button>
    </form>
    <div class="kids__box">
    </div>
</section>