<section class="setting">
    <div class="wrapper">
        <div class="setting__content">
            <h1 class="setting__title">Настройки игры</h1>
            <div class="settting__buttons">
                <a href="./gameCompetitions.html" class="promo__button promo__button--competition promo__button--setting">Соревноваться</a>
                <a href="./gameTeam.html" class="promo__button promo__button--team promo__button--setting">Командная игра</a>
            </div>
            <div class="setting__block">
                @@include("./tasks.html")
                @@include("./kids.html")
            </div>
        </div>
    </div>
</section>