<section class="tasks">
    <div class="tasks__title-box">
        <h2 class="tasks__title">Задания для детей</h2>
        <p class="tasks__paragraph">Добавте задания для детей, чтобы начать игру (это могут быть различные примеры или другие вопросы)</p>
    </div>
    <form class="tasks__form">
        <input placeholder="Любая задача (к примеру 2 + 1 = ?)" class="tasks__input" type="text">
        <button class="tasks__button">Добавить задание!</button>
    </form>
    <div class="tasks__box">
    </div>
</section>