<article class="modal modal--hidden">
    <div class="modal__content">
        <button class="modal__exit"></button>
        <div class="modal-team__title-box">
            <h3 class="modal-team__title">Создание команды!</h3>
            <p class="modal-team__paragraph">Придумайте название команды и добавьте туда детей!</p>
        </div>
        <input placeholder="Название команды" class="modal__input" type="text">
        <button class="modal-team__button">Создать команду!</button>
        <div class="modal__kids-box">
            <p class="modal__kids-box-paragraph">Списки детей:</p>
            <div class="modal-team__winners">
            </div>
        </div>

    </div>
</article>