<section class="create">
    <!-- <div class="promo__circle"></div>
    <div class="promo__circle"></div> -->
    <div class="wrapper">
        <div class="create__content">
            <div class="create__title-box">
                <h1 class="create__title">Создатели данного сервиса</h1>
                <p class="create__sub">Здесь можно ознакомиться с создателями данного сервиса</p>
            </div>
            <div class="create__creators-box">
                @@include("./creator.html", {
                    plush: "Разработчик",
                    image: "./images/other/creator1.jpg",
                    title: "Волчек Павел Николаевич",
                    paragraph: 
                    "Привет, меня зовут Паша! Я занимаюсь разработкой сайтов. Я занимался созданием технической части данного сервиса. О себе могу сказать, что занимаюсь в основном frontend разработкой на такой технологии как React. Данный сервис создавался на стеке стандартного JavaScript + занимался созданием собственного API для данного сервиса, который в последствии будет подключен к проекту, что даст возможность данному сервису расти и развиваться!"
                })
                @@include("./creator.html", {
                    plush: "Учитель",
                    image: "./images/other/creator2.jpg",
                    title: "Богдан Ангелина Евгеньевна",
                    paragraph: "Привет, меня зовут Ангелина! Я являюсь учителем младших классов, занималась дизайном данного сервиса, а также проверяла его работоспособность, устраивая детям увлекательные игры в соревновательном и командном режимах! О себе хочу сказать, что я очень рада иметь возможность устраивать детям такой интерактивный подход к обучению, а самое главное настраивать это всё для своего удобства :D"
                })
            </div>
        </div>
    </div>
</section>