<header class="header">
    <div class="wrapper">
        <div class="header__content">
            @@include("./nav.html")
            <div class="header__contacts">
                <p class="header__contacts-paragraph">Социальные сети</p>
                <a target="_blank" href="https://t.me/Fist_a">
                    <img class="header__contacts-icon" src="./images/svg/telegram.svg" alt="telegram">
                </a>
                <a target="_blank" href="https://www.instagram.com/p._.a._.s._.h._.k._.a/">
                    <img class="header__contacts-icon" src="./images/svg/instagram.svg" alt="instagram">
                </a>
            </div>
        </div>
    </div>
</header>