<section class="promo">
    <div class="promo__circle"></div>
    <div class="promo__circle"></div>
    <div class="wrapper">
        <div class="promo__content">
            <div class="promo__text">
                <div class="promo__title-box">
                    <p class="promo__sub">Математическая гонка</p>
                    <h1 class="promo__title">Соревнуйтесь против друг друга или играйте в команде, выполняя примеры на время!</h1>
                    <p class="promo__paragraph">
                        Присоединяйтесь к увлекательной математической игре! У вас есть возможность сыграть в команде,
                        а также посоревноваться против друг друга. Выбирай машину и вперёд к победе :D 
                    </p>
                </div>
                <div class="promo__buttons">
                    <a href="#!" class="promo__button promo__button--competition">Соревноваться</a>
                    <a href="#!" class="promo__button promo__button--team">Командная игра</a>
                </div>
            </div>
            <div class="promo__box">
                <img class="promo__image" src="./images/other/cars.jpg" alt="flag">
                <h3 class="promo__box-title">Отправляйтесь в увлекательное математическое приключение!</h3>
                <p class="promo__box-paragraph">
                    У вас есть возможность сыграть в математическую гонку и проверить ваши математичские навыки.
                    Сайт создан для обучения детей в игровой форме. Всё что требуется так это просто нажать на кнопку
                    и начать игру!
                </p>
                <a href="#!" class="promo__button promo__button--competition promo__button--inBox">Начать игру</a>
            </div>
        </div>
    </div>
</section>