<footer class="footer">
    <div class="wrapper">
        <div class="footer__content">
            <nav class="footer__nav">
                <p class="footer__nav-title">Навигация</p>
                <ul class="footer__nav-list">
                    <li><a class="footer__nav-link" href="./">Главная</a></li>
                    <li><a class="footer__nav-link" href="./settings.html">Настройки</a></li>
                    <li><a class="footer__nav-link" href="#!">Создатели</a></li>
                    <li><a class="footer__nav-link" href="#!">Правила игры</a></li>
                </ul>
            </nav>
            <div class="footer__logo-box">
                <a href="./">
                    <img class="footer__logo" src="./images/other/logo.png" alt="logo">
                </a>
                <p class="footer__logo-copy">&copy; 2024 PSoft. Все права защищены</p>
            </div>
            <div class="footer__contacts">
                <p class="footer__nav-title">Контактная информация</p>
                <div class="footer__contacts-icons">
                    <a href="#!">
                        <img class="footer__contacts-icon" src="./images/svg/telegram.svg" alt="telegram">
                    </a>
                    <a href="#!">
                        <img class="footer__contacts-icon" src="./images/svg/instagram.svg" alt="instagram">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>