@import "./constants/variables";

@import "./constants/mixin";

@import "./constants/reset";

@import "./constants/fonts";

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: calc(1820 / 1920 * 100%);
    margin: 0 auto;
    max-width: 1820px;
}

main {
    flex: 1 1;
}



@import "./components/*.scss";