<section class="rules">
    <div class="wrapper">
        <div class="rules__content">
            <h1 class="rules__title">Как играть?</h1>
            <div class="rules__game">
                <h2 class="rules__game-title">Правила соревновательного режима!</h2>
                <div class="rules__game-block">
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule1.svg",
                        title: "Настроить игру",
                        "paragraph": "Перед тем, как начать игру в соревновательном режиме следует её прежде всего настроить. Добавьте задания для детей, а также участников гонки, чтобы начать игру!"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule2.svg",
                        title: "Суть игры",
                        "paragraph": "Суть игры заключается в том, что после настройки игры вы переходите в соревновательный режим, где поочерёдно высвечиваются разные задания. Если кто-то из детей отвечает правильно на поставленную задачу, учитель может добавить его в список тех, чья машинка продвинеться дальше!"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule3.svg",
                        title: "Тонкости",
                        "paragraph": "Машинка будет двигаться только если у ребёнка статус 'Выбран' на кнопке и будет двигаться на одну часть от процентного соотношения всех задач, которые были вами описаны!"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule4.svg",
                        title: "Победа",
                        "paragraph": "Победа начисляется тем детям, чья машинка продвинулась дальше чем у всех остальных. Если у кого-то из детей машинка одинаково далеко относительно дргуих, то программа будет их также записывать в список победителей!"
                    })
                </div>
            </div>
            <div class="rules__game">
                <h2 class="rules__game-title">Правила для командной игры!</h2>
                <div class="rules__game-block">
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule5.svg",
                        title: "Схожести",
                        "paragraph": "В целом прототипом командной игры является соревновательный режим, правила точно такие-же только соревнуются уже не дети, а целые команды, которые можно создать заранее"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule1.svg",
                        title: "Настройки игры",
                        "paragraph": "Перед началом игры будут также настройки, в которых можно добавить задачи, а также уже не участников, а непосредственно команды, в которые входят дети (количество детей в команде неограничено)"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule7.svg",
                        title: "Создание команды",
                        "paragraph": "Для создания команды следует нажать на соответствующую кнопку, после чего высветиться всплывающее окошко, где можно дать название команде, а также выбрать детей, которые в эту команду будут входить (стоит отметить, что при добавлении детей в команду они исчезают из общего списка)"
                    })
                    @@include("./ruleBox.html", {
                        image: "./images/svg/rules/rule8.svg",
                        title: "Процесс игры",
                        "paragraph": "В игре принимают участие созданные вами заранее команды, также как и соревновательном режиме если команда ответила правильно на вопрос, который высвечивается по центру, то учитель может выбрать эту команду, чтобы их машинка двинулась дальше. Побеждает естественно та команада, машинка которых находиться дальше всех!"
                    })
                </div>
            </div>
        </div>
    </div>
</section>